:root {
    font-size: 24px;
    --color-dark: #222;
    --color-light: #eee;
}

* {
    font-style: oblique;
    box-sizing: border-box;
    font-weight: 1000;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    background: linear-gradient(rgb(207, 2, 2), black);
    background-repeat: no-repeat;
    display: flex; 
    justify-content:center;
}

img {
    border: 5px solid darkblue;
    width: 725px;
    height: 450px;
}

footer {
    color: var(--color-light)
}

.input-form {
    display: flex;
    padding: 15px;
    margin: 15px;
}

p {
    justify-content:center;
    padding: 20px;
}